<navigation></navigation>

<div class="container">
    <icon></icon>
    <page-header content="vm.pageHeader"></page-header>
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <div class="row">
                <div class="col-xs-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading"></div>
                        <div class="panel-body" ng-repeat="sponsor in vm.data.sponsors">
                            <div class="row">
                                <div class="col-xs-4">
                                    <img ng-src="{{sponsor.image}}">
                                </div>
                                <div class="col-xs-8">
                                    <a href="/sponsor/{{ sponsor._id }}">{{ sponsor.name }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12"><a href="/conference/" class="btn btn-warning">Back to Conference</a>
                    <a ng-if="vm.isAdmin" ng-click="vm.popupSponsorForm()" class="btn btn-success pull-right">+</a>
                    <a ng-if="vm.isAdmin"class="btn btn-danger pull-right">-</a>
                </div>
            </div>
        </div>
    </div>
    <footer-generic></footer-generic>
</div>