<navigation></navigation>

<div class="container">
    <icon></icon>
    <page-header content="vm.pageHeader"></page-header>
    <div class="row">
        <div class="col-xs-12 col-md-7">
            <div class="row">
                <div class="col-xs-12 col-sm-8">
                    <div role="alert" ng-show="vm.message" class="alert alert-danger">{{ vm.message }}</div>
                    <div class="panel panel-primary">
                        <div class="panel-heading"></div>
                        <div class="panel-body" ng-repeat="session in vm.data.sessions">
                            <div class="row">
                                <div class="col-xs-3"><span class="glyphicon glyphicon-calendar"></span></div>
                                <div class="col-xs-9">
                                    <a ng-href="/schedule/{{ session._id }}">{{ session.name }}</a>
                                    <div class="col-xs-12 ">
                                    <div ng-if="vm.isAdmin" ng-click="vm.addSpeakerForm(session._id)" class="btn btn-success pull-right">+ Speaker</div>
                                    </div>
                                    <div class="col-xs-12">
                                    <div ng-if="vm.isAdmin" ng-click="vm.delete(session._id)" class="btn btn-danger pull-right">delete </div>
                                    <div ng-click="vm.addMySession(session._id)" class="btn btn-success pull-right">+ mySchedule </div>
                                    </div>
                                    <p class="sessionStartTime">{{ session.startTime | date : 'MMMM d, y h:mm a ' : 'UTC' }} - {{ session.endTime | date
                                        : 'h:mm a' : 'UTC'}}
                                    </p>
                                    <p> {{session.location}} </p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12"><a href="/conference/" class="btn btn-warning">Back to Conference</a>
                    <a ng-if="vm.isAdmin" href="/schedule/speaker/new/" class="btn btn-success pull-right">+</a>
                    <a ng-if="vm.isAdmin" class="btn btn-danger pull-right">-
          <!--TODO: linking to the according exhibitors-info--></a></div>
                </div>
            </div>
        </div>
    </div>
    <footer-generic></footer-generic>
</div>
