extends layout
block content
    .row.page-header
        .col-lg-12
            h1= title
    .row
        .col-xs-12.col-md-4
            .row
                .col-xs-12.col-sm-8
                    .panel.panel-primary
                        .panel-heading
                        .panel-body

                .col-xs-12
                    a.btn.btn-warning( href="/conference/" ) Back to Conference
                    a.btn.btn-success.pull-right +
                    a.btn.btn-danger.pull-right -